<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HomeMainServlet</display-name>
    <servlet-name>HomeMainServlet</servlet-name>
    <servlet-class>com.koreaIT.jsp.am.HomeMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeMainServlet</servlet-name>
    <url-pattern>/HomeMainServlet</url-pattern>
  </servlet-mapping>
  <display-name>JSP_Article_Manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBConnectTest</display-name>
    <servlet-name>DBConnectTest</servlet-name>
    <servlet-class>com.koreaIT.jsp.am.DBConnectTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnectTest</servlet-name>
    <url-pattern>/DBConnectTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fdas</display-name>
    <servlet-name>fdas</servlet-name>
    <servlet-class>com.koreaIT.jsp.am.fdas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fdas</servlet-name>
    <url-pattern>/fdas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.koreaIT.jsp.am.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>